/* HEADER */
#top {
	margin: 20px 40px;
	margin-bottom: 0;
	height: 30px;
	font: normal 12px Verdana;
	border-top: 5px solid #D10000;
	border-left: 5px solid #D10000;
	border-right: 5px solid #D10000;
	background-color: black;
	color: white;
	line-height: 2.5;
}

#top a {
	color: white;
	text-decoration: none;
}

.logo {
	float: left;
	margin-left: 10px;
}

.extended {
	font: italic 9px Verdana;
	line-height: 3.5;
}

.access {
	float: right;
	margin-right: 3px;
}

form[name=accessManager] input[type=text] {
	color: #C0C0C0;
}

form[name=accessManager] input[type=password] {
	color: #C0C0C0;
}

/* FOOTER */
#bottom {
	margin: 20px 40px;
	height: 30px;
	font: normal 12px Verdana;
	border: 5px solid #D10000;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 1.8;
}

#bottom p,#bottom span {
	font-size: xx-small;
	padding: 0;
}

#authors {
	margin-top: -3px;
	margin-bottom: 0;
}

/* MENU */
.invertedshiftdown {
	margin: 20px 40px;
	margin-top: 0;
	padding: 0;
	border-top: 5px solid #D10000; /*Red color theme*/
	background: transparent;
	voice-family: "\"}\"";
	voice-family: inherit;
}

.invertedshiftdown ul {
	margin: 0;
	margin-left: 40px;
	/*margin between first menu item and left browser edge*/
	padding: 0;
	list-style: none;
}

.invertedshiftdown li {
	display: inline;
	padding: 0;
	text-transform: uppercase;
}

.invertedshiftdown a {
	float: left;
	display: block;
	font: bold 12px Arial;
	color: black;
	text-decoration: none;
	margin: 0 1px 0 0; /*Margin between each menu item*/
	padding: 5px 10px 9px 10px; /*Padding within each menu item*/
	background-color: #C0C0C0; /*Default menu color*/
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}

.invertedshiftdown a:hover {
	background-color: #D10000; /*Red color theme*/
	padding-top: 9px;
	/*Flip default padding-top value with padding-bottom */
	padding-bottom: 5px;
	/*Flip default padding-bottom value with padding-top*/
	color: white;
}

.invertedshiftdown .current a { /** currently selected menu item **/
	background-color: #D10000; /*Red color theme*/
	padding-top: 9px;
	/*Flip default padding-top value with padding-bottom */
	padding-bottom: 5px;
	/*Flip default padding-bottom value with padding-top*/
	color: white;
}

/* PAGE CONTNENT */
#pageContent {
	margin: 20px 40px;
	margin-top: 5px;
	border: 3px solid #D10000;
	padding: 10px 15px 20px 10px;
}

ul {
	margin-top: 7px;
}

p {
	margin-bottom: 0;
}

.nameSurname {
	text-transform: uppercase;
	font-weight: bold;
}

fieldset {
	width: 315px;
}

#helpState {
	display: inline;
}

/* FORMS */
#pageContent input[type=submit] {
	margin-top: 9px;
}

#pageContent input[type=text] {
	width: 300px;
}

#pageContent input[type=password] {
	width: 300px;
}

#messages {
	margin-top: 5px;
	width: 340px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#searchFormContainer,#requestFormContainer,#newAbility {
	width: 315px;
	margin-right: auto;
	margin-left: auto;
}

#register input[type=text] {
	width: 200px !important;
}

#register input[type=password] {
	width: 200px !important;
}

/* PROFILE */
#modifyContainer {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 750px;
}

#contactInformation fieldset {
	width: 330px;
}

#abilities .warning {
	margin-left: 10px;
}

#profileError {
	text-align: center;
}

#profile {
	margin-top: -10px;
}

#modifyAbilities ul {
	margin-bottom: 0;
}

.first {
	margin-top: 0;
}

.images {
	width: 13px;
	height: 13px;
}

/* ABILITY SUGGESTION */
#requestForm {
	text-align: center;
}

#otherRequest {
	margin-top: 10px;
	margin-bottom: 10px;
}

#otherRequest .warning {
	margin-left: 10px;
}

/* SEARCH */
#searchForm {
	text-align: center;
}

select[name=city] {
	margin-top: 7px;
}

#resultsContainer {
	margin-bottom: 10px;
}

/* FRIENDS */
#friends {
	margin-top: -10px;;
}

#friends .warning {
	margin-left: 10px;
}

#request .warning {
	margin-left: 10px;
}

#pending .warning {
	margin-left: 10px;
}

/* HELPS */
#helpAsHelpers {
	margin-top: -10px;
}

#helpInformation {
	margin-top: 15px;
}

#helpAsHelpers .warning {
	margin-left: 10px;
}

#helpsHaveAsked .warning {
	margin-left: 10px;
}

#helpsHaveRequest .warning {
	margin-left: 10px;
}

#helpsClosed .warning {
	margin-left: 10px;
}

#helpsSuspended .warning {
	margin-left: 10px;
}

#chat {
	margin: 10px;
}

/* MESSAGE AND ERRORS */
.warning {
	font-style: italic;
}

.error {
	color: #D10000;
	font-style: italic;
}

.headerError {
	padding-right: 5px;
	float: right;
	color: #D10000;
	font-style: italic;
}

/* TEXT STYLES */
.text {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.message {
	font-style: italic;
	color: #228B22;
}

.capital {
	text-transform: uppercase;
}

.red {
	color: #D10000;
}

.green {
	color: #228B22;
}

.blue {
	color: #0066FF;
}

.user {
	text-transform: capitalize;
}

.smaller {
	font-size: xx-small;
}

/* FLOATING */
.left {
	float: left;
}

.right {
	float: right;
}